.container-packets {
    background-color: #eeae4f;
    height: 920px;
    justify-content: center;
    display: block;
    box-sizing: border-box;
}

.container-packets .content {
    background-color: #adfae7;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-packets .widgets {
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    //background-color: pink;
    width: 305px;
    margin-top: 64px;
    margin-bottom: 30px;
}

.container-packets .list {
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    margin-top: 64px;
    margin-bottom: 30px;
    //background-color: yellow;
    width: 915px;
}


.container-packets .packets-box h1 {
    font-size: 22px;
    text-align: center;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.container-packets .packets-box h2 {
    font-size: 20px;
    text-align: center;
    color: #111111;
    font-weight: 700;
    margin-top: 0px;
    font-family: "Merriweather", serif;
}

.container-packets .packets-box h3 {
    font-size: 136px;
    text-align: center;
    color: #111111;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 22px;
    font-family: "Merriweather", serif;
}

