<div class="container-login">
    <div class="container-login-content">

        <div class="container-login-content-close">
            <a [routerLink]="['']" class="nav-logo-link">
                <mat-icon>close</mat-icon>
            </a>
        </div>

        <div>
            <a [routerLink]="['']" class="nav-logo-link">
                <img src="assets/roslina-logo.png">
            </a>
        </div>

        <div class="container-login-content-header">
            Odzyskaj hasło
        </div>

        <form [formGroup]="forgotPasswordForm" #b="ngForm">
            <div>
                <mat-form-field class="form-login-email">
                    <mat-label>Email</mat-label>
                    <input  matInput formControlName="{{ForgotPasswordFCN.EMAIL}}" />
                    <mat-error *ngIf="forgotPasswordForm.get(ForgotPasswordFCN.EMAIL)?.hasError('required')">To pole jest wymagane</mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get(ForgotPasswordFCN.EMAIL)?.hasError('email')">To nie jest poprawny adres email</mat-error>
                </mat-form-field>
            </div>
            <div class="container-login-content-submit">
                <button mat-stroked-button (click)="onLogin()" [disabled]="forgotPasswordForm.invalid"
                    class="login-submit">Odzyskaj hasło</button>
            </div>
        </form>
    </div>
</div>
