.producers-list {
  width: 100%;
}

.mat-column-select {
  width: 5%;
  text-align: left;
}
.mat-column-id {
  width: 5%;
  text-align: left;
}
.mat-column-name {
  text-align: left;
}

.mat-column-edit {
  width: 5%;
}

.mat-column-delete {
  width: 5%;
}
