<div class="container-contact">

    <div class="content">

        <!-- <div class="header">
            <h1> Kontakt </h1>
        </div>

        <div class="page">
            <div class="box">
                <h3><mat-icon style="font-size: 32px">phone</mat-icon></h3>
                <h1>+48 511 810 801</h1>
                <h1>+48 507 062 350</h1>
            </div>
            <div class="box">
                <h3><mat-icon style="font-size: 32px">mail_outline</mat-icon></h3>
                <h1>kontakt@roslina.com.pl</h1>
                <h1>bartosz@grabsky.pl</h1>
            </div>
            <div class="box">
                <h3><mat-icon style="font-size: 32px">location_on</mat-icon></h3>
                <h1>Polska, Poznań 60-566</h1>
                <h1>Szamotulska 85/4</h1>

            </div>
        </div> -->
    </div>
</div>
