<div class="container-login">
    <div class="container-login-content">

        <div class="container-login-content-close">
            <a [routerLink]="['']" class="nav-logo-link">
                <mat-icon>close</mat-icon>
            </a>
        </div>

        <div>
            <a [routerLink]="['']" class="nav-logo-link">
                <img src="assets/roslina-logo.png">
            </a>
        </div>

        <div class="container-login-content-header">
            Resetuj hasło
        </div>

        <form [formGroup]="resetForm" #b="ngForm">
            <div>
                <mat-error *ngIf="viewState === ViewState.SAVE_SUCCESS" class='form-success'>
                    Hasło zostało zmienione</mat-error>
                <mat-error *ngIf="viewState === ViewState.SAVE_ERROR" class='form-error' >
                    Wystąpił błąd</mat-error>
            </div>
            <div>
                <mat-form-field class="form-login-email">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="{{ResetFCN.EMAIL}}" />
                    <mat-error *ngIf="resetForm.get(ResetFCN.EMAIL)?.hasError('required')">To pole jest
                        wymagane</mat-error>
                    <mat-error *ngIf="resetForm.get(ResetFCN.EMAIL)?.hasError('email')">To nie jest poprawny adres
                        email</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-login-password">
                    <mat-label>Hasło</mat-label>
                    <input type="password" matInput formControlName="{{ResetFCN.PASSWORD}}" />
                    <mat-error *ngIf="resetForm.get(ResetFCN.PASSWORD)?.hasError('required')">To pole jest
                        wymagane</mat-error>
                    <mat-error *ngIf="resetForm.get(ResetFCN.PASSWORD)?.hasError('minlength')">Hasło musi mieć min. 4
                        znaki</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-login-password">
                    <mat-label>Powtórz hasło</mat-label>
                    <input type="password" matInput formControlName="{{ResetFCN.PASSWORD_CONFIRM}}" />
                    <mat-error *ngIf="resetForm.get(ResetFCN.PASSWORD_CONFIRM)?.hasError('required')">To pole jest
                        wymagane</mat-error>
                    <mat-error *ngIf="resetForm.get(ResetFCN.PASSWORD_CONFIRM)?.hasError('minlength')">Hasło musi mieć
                        min. 4 znaki</mat-error>
                    <mat-error *ngIf="resetForm.get(ResetFCN.PASSWORD_CONFIRM)?.hasError('confirmedValidator')">Hasła
                        nie są identyczne</mat-error>
                </mat-form-field>
            </div>
            <div class="container-login-content-submit">
                <button mat-stroked-button (click)="onReset()" [disabled]="resetForm.invalid"
                    class="login-submit">Resetuj moje hasło</button>
            </div>
        </form>
    </div>
</div>
{{ token }}
