<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>HTML5 Template Design</title>
    <meta content='HTML5 Template Design' name='description' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
</head>

<body>
    <app-header></app-header>

    <!-- <p>Twój szczęśliwy numerek {{ getScreenWidth }}, {{ getScreenHeight }}</p> -->
    <app-container-ad></app-container-ad>

    <app-container-ad4></app-container-ad4>

    <app-container-box4></app-container-box4>

    <app-container-box3></app-container-box3>

    <app-footer></app-footer>

</body>

</html>
