<mat-toolbar>
    <img src="assets/roslina-logo.png">
    <ul>
        <li><a class="nav-bar-button">Zdjęcia</a></li>
        <li><a class="nav-bar-button">Nasiona</a></li>
        <li><a class="nav-bar-button">Kalendarz</a></li>
    </ul>
    <span class="example-spacer"></span>
    <ul>
        <li><a class="nav-bar-button">About</a></li>
        <li><a class="nav-bar-button">Kontakt</a></li>
    </ul>
    <button mat-icon-button class="" aria-label="">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="" aria-label="">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="" aria-label="">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
