<!-- <button (click)="onMenuZ1()">asdf</button>
    <button (click)="onMenuZ2()">asdf</button> -->

<div class="header-container">
    <div class="header-mobile">
        <div class="header-mobile-container">
            <mat-icon class="nav-ham-icon" (click)="onMenuZ1()" id="menuButton">menu</mat-icon>
            <div class="nav-logo">
                <a [routerLink]="['']" class="nav-logo-link">
                    <img src="assets/roslina-logo.png" height="46px">
                </a>
            </div>
        </div>
    </div>

    <div class="header-mobile-menu" *ngIf="z1">
        <ul>
            <li><a [routerLink]="['/sub/packets']" class="nav-bar-button">Nasiona</a></li>
            <li><a [routerLink]="['/sub/contact']" class="nav-bar-button">Kontakt</a></li>

            <li>
                <button mat-icon-button class="" aria-label="">
                    <mat-icon>favorite</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button class="" aria-label="">
                    <mat-icon>share</mat-icon>
                </button>
            </li>

            <li><button mat-icon-button class="" aria-label="" [routerLink]="['/sub/packet-add']">
                <mat-icon style="transform: scale(1.7);">add</mat-icon>
            </button></li>

            <ng-container *ngIf="loggedIn">
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="userMenu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item [routerLink]="['/sub/profile']">Profil</button>
                        <button mat-menu-item (click)="onLogout()">Wyloguj</button>
                    </mat-menu>
                </li>
            </ng-container>

            <ng-container *ngIf="!loggedIn">
                <ul>
                    <li><a class="nav-bar-button" [routerLink]="['/register']">Rejestracja</a></li>
                    <li><a class="nav-bar-button" [routerLink]="['/login']">Logowanie</a></li>
                </ul>
            </ng-container>
        </ul>
    </div>

    <div class="header-desktop">
        <mat-toolbar>
            <div class="header-desktop-container">
                <div class="nav-logo">
                    <a [routerLink]="['']" class="nav-logo-link">
                        <img src="assets/roslina-logo.png">
                    </a>
                </div>
                <div class="nav-left">
                    <ul>
                        <li><a [routerLink]="['/sub/packets']" class="nav-bar-button">Nasiona</a></li>
                        <li><a [routerLink]="['/sub/contact']" class="nav-bar-button">Kontakt</a></li>
                    </ul>
                </div>
                <span class="spacer"></span>
                <div class="nav-right">
                    <ul>
                        <li><button mat-icon-button class="" aria-label="" [routerLink]="['/sub/packet-add']">
                                <mat-icon style="transform: scale(1.7);">add</mat-icon>
                            </button></li>
                        <li>
                            <button mat-icon-button class="" aria-label="">
                                <mat-icon>share</mat-icon>
                            </button>
                        </li>
                        <ng-container *ngIf="loggedIn">
                            <li>
                                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                                    <mat-icon>account_circle</mat-icon>
                                </button>
                                <mat-menu #userMenu="matMenu">
                                    <button mat-menu-item [routerLink]="['/sub/profile']">Profil</button>
                                    <button mat-menu-item (click)="onLogout()">Wyloguj</button>
                                </mat-menu>
                            </li>
                        </ng-container>

                        <ng-container *ngIf="!loggedIn">
                            <ul>
                                <li><a class="nav-bar-button" [routerLink]="['/register']">Rejestracja</a></li>
                                <li><a class="nav-bar-button" [routerLink]="['/login']">Logowanie</a></li>
                            </ul>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </mat-toolbar>
    </div>
</div>

<!--
-->
