<div class="container-box4">

    <div class="container-box4-content">

        <h1>Najnowsze</h1>

        <div class="container-box4">
            <div></div>
            <div class="box4-box">
                <img src="assets/ad3-1.jpg">
                <h2>Jeden</h2>
                <h3>Deskrypcja</h3>
                <p> <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </p>
            </div>
            <div class="box4-box">
                <img src="assets/ad3-2.jpg">
                <h2>Dwa</h2>
                <h3>Deskrypcja</h3>
                <p> <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                </p>
            </div>
            <div class="box4-box">
                <img src="assets/ad3-3.jpg">
                <h2>Trzy</h2>
                <h3>Deskrypcja</h3>
                <p> <mat-icon>star</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                </p>
            </div>
            <div class="box4-box">
                <img src="assets/ad3-4.jpg">
                <h2>Cztery</h2>
                <h3>Deskrypcja</h3>
                <p> <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_outline</mat-icon>
                </p>
            </div>
            <div></div>
        </div>

    </div>
</div>
