<div class="container-box4-header">
    <h1> Najnowsze zdjęcia</h1>
</div>

<div class="container-box4">
    <div></div>
    <div class="box4-box">
        <img src="assets/ad3-1.jpg">
        <h1>Jeden</h1>
        <h2>Deskrypcja</h2>
        <p> <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
        </p>
    </div>
    <div class="box4-box">
        <img src="assets/ad3-2.jpg">
        <h1>Dwa</h1>
        <h2>Deskrypcja</h2>
        <p> <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_outline</mat-icon>
            <mat-icon>star_outline</mat-icon>
        </p>
    </div>
    <div class="box4-box">
        <img src="assets/ad3-3.jpg">
        <h1>Trzy</h1>
        <h2>Deskrypcja</h2>
        <p> <mat-icon>star</mat-icon>
            <mat-icon>star_outline</mat-icon>
            <mat-icon>star_outline</mat-icon>
            <mat-icon>star_outline</mat-icon>
            <mat-icon>star_outline</mat-icon>
        </p>
    </div>
    <div class="box4-box">
        <img src="assets/ad3-4.jpg">
        <h1>Cztery</h1>
        <h2>Deskrypcja</h2>
        <p> <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_outline</mat-icon>
        </p>
    </div>
    <div></div>
</div>

