.container-ad4 {
    background-color: #111111;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ad4 .ad4-box {
    background-color: #303030;
    width: 280px;
    height: 110px;
    //display: flex;
    //flex-direction: column;
    //justify-content: start;
    align-content: start;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 8px;
}

.container-ad4 .ad4-box h1 {
    font-size: 20px;
    color: white;
    font-weight: 700;
    font-family: "Merriweather", serif;
}

.container-ad4 .ad4-box h2 {
    font-size: 16px;
    color: white;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-top: -20px;
}
