<mat-card>
  <mat-card-header>
    <mat-card-title>Właściwości pakietu</mat-card-title>
    <mat-card-subtitle>Pakiet nasion: {{ packet.name }} ({{ packet.id }})</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h3><b>Nazwa:</b> {{packet.name}}</h3>
    <h3><b>Opis:</b><br> {{packet.desc}}</h3>
    <h3><b>Nazwa polska:</b> {{packet.name_polish}}</h3>
    <h3><b>Nazwa łacińska:</b> {{packet.name_latin}}</h3>
    <h3><b>Producent:</b> {{packet.producer?.name}}</h3>
    <h3>
      <b>Data zakupu: </b> {{packet.purchase_date}}<br>
      <b>Data ważności: </b> {{packet.expiration_date}}
    </h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onBack()">Wróć</button>
  </mat-card-actions>
</mat-card>
