.producers-list {
  width: 100%;
  //background-color: white;
}

.mat-column-producerID {
  width: 10%;
  text-align: left;
}
.mat-column-producerName {
  text-align: left;
}

.mat-column-producerEdit {
  width: 5%;
}

.mat-column-producerDelete {
  width: 5%;
}
