.spacer {
    flex: 1 1 auto;
}

.footer-container {
    background-color: var(--back-color-footer);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.footer-container-content {
    max-width: 1280px;
    background-color: var(--back-color-footer);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
}

.footer-container-content-left {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: var(--back-color-footer);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.footer-container-content-left li {
     padding-top: 15px;
     padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container-content-right {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: var(--back-color-footer);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.footer-container-content-right li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 800px) {
    .footer-container-content-left {
        flex-direction: row;
    }

    .footer-container-content-right {
        flex-direction: row;
    }
}

@media screen and (min-width: 800px) {
    .footer-container-content-left {
        flex-direction: row;
    }
}
