<div class="container-login">
    <div class="container-login-content">

        <div class="container-login-content-close">
            <a [routerLink]="['']" class="nav-logo-link">
                <mat-icon>close</mat-icon>
            </a>
        </div>

        <div>
            <a [routerLink]="['']" class="nav-logo-link">
                <img src="assets/roslina-logo.png">
            </a>
        </div>

        <div class="container-login-content-header">
            Zaloguj się na swoje konto
        </div>

        <form [formGroup]="loginForm" #b="ngForm">
            <div class="container-login-content-error">
                <mat-error *ngIf="invalidCredencials">Podałeś błędne dane</mat-error>
            </div>
            <div>
                <mat-form-field class="form-login-email">
                    <mat-label>Email</mat-label>
                    <input  matInput formControlName="{{LoginFCN.EMAIL}}" />
                    <mat-error *ngIf="loginForm.get(LoginFCN.EMAIL)?.hasError('required')">To pole jest wymagane</mat-error>
                    <mat-error *ngIf="loginForm.get(LoginFCN.EMAIL)?.hasError('minlength')">Nazwa użytkownika musi mieć przynajmniej 2 znaki</mat-error>
                    <mat-error *ngIf="loginForm.get(LoginFCN.EMAIL)?.hasError('email')">To nie jest poprawny adres email</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-login-password">
                    <mat-label>Hasło</mat-label>
                    <input type="password" matInput formControlName="{{LoginFCN.PASSWORD}}" />
                    <mat-error *ngIf="loginForm.get(LoginFCN.PASSWORD)?.hasError('minlength')">Hasło musi mieć przynajmniej 4 znaki</mat-error>
                </mat-form-field>
            </div>
            <div class="container-login-content-forgot">
                <a [routerLink]="['/forgot-password']" class="nav-logo-link">
                    Zapomniałeś hasła?
                </a>
            </div>
            <div class="container-login-content-submit">
                <button mat-stroked-button (click)="onLogin()" [disabled]="loginForm.invalid"
                    class="login-submit">Zaloguj</button>
            </div>
            <div class="container-login-content-register">
                Nie masz konta?
                <a [routerLink]="['/register']" class="nav-logo-link">
                    załóż konto </a>
            </div>
        </form>
    </div>
</div>
