<div class="container-ad">
    <div class="container-ad-content">
        <div class="container-ad-content-image">
            <img src="assets/roslina-1.png" width="100%">
        </div>
        <div class="container-ad-content-desc">
            <h2>To prostsze niż myślisz</h2>
            <h1>Zarządzaj swoimi uprawami !</h1>
            <p>W prosty sposób zarządzisz swoją rozsadą, podzielisz się zdjęciami,
                zdobędziesz niezbędną wiedzę i pomoc, a także sprzedasz lub wymienisz się nasionami lub roślinami
            </p>
            <button mat-raised-button color="primary" style="width: 100px">SPRAWDŹ</button>
        </div>
    </div>
</div>
