<div class="container-ad">
    <div></div>
    <div class="image">
        <img src="assets/roslina-1.png" height="520px">
    </div>
    <div class="desc">
        <h2>To prostsze niż myślisz</h2>
        <h1>Zarządzaj swoimi<br><br> uprawami !</h1>
        <p>W prosty sposób zarządzisz swoją rozsadą, podzielisz się zdjęciami,
            zdobędziesz niezbędną wiedzę i pomoc, a także sprzedasz lub wymienisz się nasionami lub roślinami
        </p>
        <button mat-raised-button color="primary">SPRAWDŹ</button>
    </div>
    <div></div>
</div>
