<div class="container-box3">

    <div class="container-box3-content">

        <h1>Na czasie</h1>

        <div class="container-box3-content-box"
        style="background-image: url('assets/ad4-pepper.png')">
            <h2>Pomidor</h2>
            <h3>Deskrypcja</h3>
            <button mat-raised-button color="primary">SPRAWDŹ</button>
        </div>
        <div class="container-box3-content-box"
        style="background-image: url('assets/ad4-basil.png')">
            <h2>Pomidor</h2>
            <h3>Deskrypcja</h3>
            <button mat-raised-button color="primary">SPRAWDŹ</button>
        </div>
        <div class="container-box3-content-box"
        style="background-image: url('assets/ad4-tomato.png')">
            <h2>Pomidor</h2>
            <h3>Deskrypcja</h3>
            <button mat-raised-button color="primary">SPRAWDŹ</button>
        </div>
    </div>
</div>
