<div class="container-box3">
    <div></div>
    <div class="box3-box" style="background-image: 'assets/box3-pepper.png';">
        <h1>Papryka słodka</h1>
        <h2>Deskrypcja</h2>
        <button mat-raised-button color="primary">SPRAWDŹ</button>
        <img src="assets/ad4-pepper.png">
    </div>
    <div class="box3-box">
        <h1>Zioła</h1>
        <h2>Deskrypcja</h2>
        <button mat-raised-button color="primary">SPRAWDŹ</button>
        <img src="assets/ad4-basil.png">
    </div>
    <div class="box3-box">
        <h1>Pomidor</h1>
        <h2>Deskrypcja</h2>
        <button mat-raised-button color="primary">SPRAWDŹ</button>
        <img src="assets/ad4-tomato.png">
    </div>
    <div></div>
</div>
